In [6]:
import pandas as pd 
import numpy as np
import scipy.sparse
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [7]:
users = pd.read_csv("TestUsers.csv")
ratings_data = pd.read_csv("Masked_User_Rest_Ratings.csv")
del users["Unnamed: 0"]

In [8]:
allUsers = set()
for i in users["Users"]:
    allUsers.add(i)

In [9]:
user_ratings= dict()
for index, row in ratings_data.iterrows():
    if row["User"] in allUsers:
        data = [row["Restaurant"], row["Ratings"]]
        if row["User"] in user_ratings:
            user_ratings[row["User"]].append(data)
        else:
            user_ratings[row["User"]] = [data]

In [10]:
df = pd.read_csv('Masked_User_Rest_Ratings.csv', sep=',')

In [11]:
df.head()

     User  Restaurant  Ratings
0  313986         170        5
1  261673         595        2
2   33533         358        1
3  251355        3502        1
4  324430        1251        5

In [12]:
len(df['Restaurant'])

4755991

In [13]:
new_df = df[:int(4755991/100)].pivot_table(index = 'User', columns ='Restaurant', values = 'Ratings').fillna(0)

In [14]:
print(new_df)

Restaurant  1     2     5     6     9     10    12    15    17    18    ...  \
User                                                                    ...
0            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
1            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
6            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
11           0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
19           0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
336939       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
336952       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
336961       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
336968       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
336969       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...

Restaurant  6252  6253  6254  6255  6256  6257  6259  6260  6262  6263
User
0            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
6            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
11           0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
19           0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
336939       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
336952       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
336961       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
336968       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
336969       0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[40813 rows x 4710 columns]

In [15]:
def standardize(row):
    new_row = (row - row.mean())/(row.max()-row.min())
    return new_row

df_std = new_df.apply(standardize).T
print(df_std)

User          0         1         6         11        19        30      \
Restaurant
1          -0.000025 -0.000025 -0.000025 -0.000025 -0.000025 -0.000025
2          -0.000025 -0.000025 -0.000025 -0.000025 -0.000025 -0.000025
5          -0.000044 -0.000044 -0.000044 -0.000044 -0.000044 -0.000044
6          -0.000025 -0.000025 -0.000025 -0.000025 -0.000025 -0.000025
9          -0.000025 -0.000025 -0.000025 -0.000025 -0.000025 -0.000025
...              ...       ...       ...       ...       ...       ...
6257       -0.000025 -0.000025 -0.000025 -0.000025 -0.000025 -0.000025
6259       -0.000025 -0.000025 -0.000025 -0.000025 -0.000025 -0.000025
6260       -0.000074 -0.000074 -0.000074 -0.000074 -0.000074 -0.000074
6262       -0.000265 -0.000265 -0.000265 -0.000265 -0.000265 -0.000265
6263       -0.000025 -0.000025 -0.000025 -0.000025 -0.000025 -0.000025

User          33        36        42        46      ...    336907    336912  \
Restaurant                                          ...
1          -0.000025 -0.000025 -0.000025 -0.000025  ... -0.000025 -0.000025
2          -0.000025 -0.000025 -0.000025 -0.000025  ... -0.000025 -0.000025
5          -0.000044 -0.000044 -0.000044 -0.000044  ... -0.000044 -0.000044
6          -0.000025 -0.000025 -0.000025 -0.000025  ... -0.000025 -0.000025
9          -0.000025 -0.000025 -0.000025 -0.000025  ... -0.000025 -0.000025
...              ...       ...       ...       ...  ...       ...       ...
6257       -0.000025 -0.000025 -0.000025 -0.000025  ... -0.000025 -0.000025
6259       -0.000025 -0.000025 -0.000025 -0.000025  ... -0.000025 -0.000025
6260       -0.000074 -0.000074 -0.000074 -0.000074  ... -0.000074 -0.000074
6262       -0.000265 -0.000265 -0.000265 -0.000265  ... -0.000265 -0.000265
6263       -0.000025 -0.000025 -0.000025 -0.000025  ... -0.000025 -0.000025

User          336920    336923    336936    336939    336952    336961  \
Restaurant
1          -0.000025 -0.000025 -0.000025 -0.000025 -0.000025 -0.000025
2          -0.000025 -0.000025 -0.000025 -0.000025 -0.000025 -0.000025
5          -0.000044 -0.000044 -0.000044 -0.000044 -0.000044 -0.000044
6          -0.000025 -0.000025 -0.000025 -0.000025 -0.000025 -0.000025
9          -0.000025 -0.000025 -0.000025 -0.000025 -0.000025 -0.000025
...              ...       ...       ...       ...       ...       ...
6257       -0.000025 -0.000025 -0.000025 -0.000025 -0.000025 -0.000025
6259       -0.000025 -0.000025 -0.000025 -0.000025 -0.000025 -0.000025
6260       -0.000074 -0.000074 -0.000074 -0.000074 -0.000074 -0.000074
6262       -0.000265 -0.000265 -0.000265 -0.000265 -0.000265 -0.000265
6263       -0.000025 -0.000025 -0.000025 -0.000025 -0.000025 -0.000025

User          336968    336969
Restaurant
1          -0.000025 -0.000025
2          -0.000025 -0.000025
5          -0.000044 -0.000044
6          -0.000025 -0.000025
9          -0.000025 -0.000025
...              ...       ...
6257       -0.000025 -0.000025
6259       -0.000025 -0.000025
6260       -0.000074 -0.000074
6262       -0.000265 -0.000265
6263       -0.000025 -0.000025

[4710 rows x 40813 columns]

In [16]:
sparse_df = sparse.csr_matrix(df_std.values)
corrMatrix = pd.DataFrame(cosine_similarity(sparse_df),index=new_df.columns,columns=new_df.columns)
corrMatrix

Restaurant,1,2,5,6,9,10,12,15,17,18,...,6252,6253,6254,6255,6256,6257,6259,6260,6262,6263
Restaurant,,,,,,,,,,,,,,,,,,,,,
1,1.000000,-0.000025,-0.000034,-0.000025,-0.000025,-0.000032,-0.000025,-0.000025,-0.000035,-0.000054,...,-0.000034,-0.000031,-0.000025,-0.000089,-0.000046,-0.000025,-0.000025,-0.000050,-0.000082,-0.000025
2,-0.000025,1.000000,-0.000034,-0.000025,-0.000025,-0.000032,-0.000025,-0.000025,-0.000035,-0.000054,...,-0.000034,-0.000031,-0.000025,-0.000089,-0.000046,-0.000025,-0.000025,-0.000050,-0.000082,-0.000025
5,-0.000034,-0.000034,1.000000,-0.000034,-0.000034,-0.000045,-0.000034,-0.000034,-0.000049,-0.000077,...,-0.000048,-0.000044,-0.000034,-0.000125,-0.000065,-0.000034,-0.000034,-0.000071,-0.000116,-0.000034
6,-0.000025,-0.000025,-0.000034,1.000000,-0.000025,-0.000032,-0.000025,-0.000025,-0.000035,-0.000054,...,-0.000034,-0.000031,-0.000025,-0.000089,-0.000046,-0.000025,-0.000025,-0.000050,-0.000082,-0.000025
9,-0.000025,-0.000025,-0.000034,-0.000025,1.000000,-0.000032,-0.000025,-0.000025,-0.000035,-0.000054,...,-0.000034,-0.000031,-0.000025,-0.000089,-0.000046,-0.000025,-0.000025,-0.000050,-0.000082,-0.000025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6257,-0.000025,-0.000025,-0.000034,-0.000025,-0.000025,-0.000032,-0.000025,-0.000025,-0.000035,-0.000054,...,-0.000034,-0.000031,-0.000025,-0.000089,-0.000046,1.000000,-0.000025,-0.000050,-0.000082,-0.000025
6259,-0.000025,-0.000025,-0.000034,-0.000025,-0.000025,-0.000032,-0.000025,-0.000025,-0.000035,-0.000054,...,-0.000034,-0.000031,-0.000025,-0.000089,-0.000046,-0.000025,1.000000,-0.000050,-0.000082,-0.000025
6260,-0.000050,-0.000050,-0.000071,-0.000050,-0.000050,-0.000066,-0.000050,-0.000050,-0.000071,-0.000112,...,-0.000071,-0.000064,-0.000050,-0.000183,-0.000095,-0.000050,-0.000050,1.000000,-0.000170,-0.000050
6262,-0.000082,-0.000082,-0.000116,-0.000082,-0.000082,-0.000107,-0.000082,-0.000082,-0.000117,-0.000183,...,-0.000115,-0.000104,-0.000082,-0.000299,-0.000155,-0.000082,-0.000082,-0.000170,1.000000,-0.000082
6263,-0.000025,-0.000025,-0.000034,-0.000025,-0.000025,-0.000032,-0.000025,-0.000025,-0.000035,-0.000054,...,-0.000034,-0.000031,-0.000025,-0.000089,-0.000046,-0.000025,-0.000025,-0.000050,-0.000082,1.000000

In [17]:
corrMatrix = new_df.corr(method='pearson')
corrMatrix.head(6)

Restaurant,1,2,5,6,9,10,12,15,17,18,...,6252,6253,6254,6255,6256,6257,6259,6260,6262,6263
Restaurant,,,,,,,,,,,,,,,,,,,,,
1,1.000000,-0.000025,-0.000034,-0.000025,-0.000025,-0.000032,-0.000025,-0.000025,-0.000035,-0.000054,...,-0.000034,-0.000031,-0.000025,-0.000089,-0.000046,-0.000025,-0.000025,-0.000050,-0.000082,-0.000025
2,-0.000025,1.000000,-0.000034,-0.000025,-0.000025,-0.000032,-0.000025,-0.000025,-0.000035,-0.000054,...,-0.000034,-0.000031,-0.000025,-0.000089,-0.000046,-0.000025,-0.000025,-0.000050,-0.000082,-0.000025
5,-0.000034,-0.000034,1.000000,-0.000034,-0.000034,-0.000045,-0.000034,-0.000034,-0.000049,-0.000077,...,-0.000048,-0.000044,-0.000034,-0.000125,-0.000065,-0.000034,-0.000034,-0.000071,-0.000116,-0.000034
6,-0.000025,-0.000025,-0.000034,1.000000,-0.000025,-0.000032,-0.000025,-0.000025,-0.000035,-0.000054,...,-0.000034,-0.000031,-0.000025,-0.000089,-0.000046,-0.000025,-0.000025,-0.000050,-0.000082,-0.000025
9,-0.000025,-0.000025,-0.000034,-0.000025,1.000000,-0.000032,-0.000025,-0.000025,-0.000035,-0.000054,...,-0.000034,-0.000031,-0.000025,-0.000089,-0.000046,-0.000025,-0.000025,-0.000050,-0.000082,-0.000025
10,-0.000032,-0.000032,-0.000045,-0.000032,-0.000032,1.000000,-0.000032,-0.000032,-0.000045,-0.000071,...,-0.000045,-0.000040,-0.000032,-0.000116,-0.000060,-0.000032,-0.000032,-0.000066,-0.000107,-0.000032

In [18]:
def get_similar(restaurant,rating):
    similar_score = corrMatrix[restaurant]*(rating-2.5)
    similar_score = similar_score.sort_values(ascending=False)
    #print(type(similar_ratings))
    return similar_score

In [19]:
action_lover = [(1,5),(2,1),(10,1)]
similar_scores = pd.DataFrame()
for movie,rating in action_lover:
    similar_scores = similar_scores.append(get_similar(movie,rating),ignore_index = True)

similar_scores.head(10)

,1,2,5,6,9,10,12,15,17,18,...,6252,6253,6254,6255,6256,6257,6259,6260,6262,6263
0,2.500000,-0.000061,-0.000086,-0.000061,-0.000061,-0.000080,-0.000061,-0.000061,-0.000087,-0.000136,...,-0.000086,-0.000077,-0.000061,-0.000222,-0.000116,-0.000061,-0.000061,-0.000126,-0.000206,-0.000061
1,0.000037,-1.500000,0.000052,0.000037,0.000037,0.000048,0.000037,0.000037,0.000052,0.000082,...,0.000051,0.000046,0.000037,0.000133,0.000069,0.000037,0.000037,0.000076,0.000124,0.000037
2,0.000048,0.000048,0.000067,0.000048,0.000048,-1.500000,0.000048,0.000048,0.000068,0.000106,...,0.000067,0.000060,0.000048,0.000174,0.000090,0.000048,0.000048,0.000098,0.000161,0.000048

In [21]:
newresult = similar_scores.sum().sort_values(ascending=False).head(10)

In [29]:
type(newresult)

pandas.core.series.Series

In [31]:
newresult.index.tolist()

[1, 5804, 777, 1114, 5025, 2431, 1899, 3288, 2984, 2909]

In [52]:
user_ratings[28355][61]

[912, 4]

In [57]:
results = dict()
for key, value in user_ratings.items():
    similar_scores = pd.DataFrame()
    for data in value:
        try:
            similar_scores = similar_scores.append(get_similar(data[0],data[1]),ignore_index = True)
        except:
            pass
        #similar_scores.sum().sort_values(ascending=False)
    newresult = similar_scores.sum().sort_values(ascending=False).head(10)
    results[key] = newresult.index.tolist()

In [62]:
for key, value in results.items():
    print(str(key) + " : " + str(value))

28355 : [3807, 912, 4473, 6251, 620, 1464, 2137, 4684, 3012, 1274]
8994 : [1274, 2137, 4684, 4641, 5668, 4465, 4236, 2650, 2459, 5050]
4711 : [3985, 2289, 4540, 3136, 4522, 3244, 2516, 6209, 1866, 1339]
2120 : [2256, 5352, 1557, 1328, 5994, 4323, 4585, 4866, 2705, 5279]
5597 : [5681, 2846, 2939, 6056, 2178, 5683, 2532, 3924, 5094, 471]
20734 : [4982, 1826, 2375, 529, 6030, 3288, 2046, 4543, 1225, 4973]
62535 : [2870, 370, 1724, 43, 5167, 5059, 4090, 4374, 653, 477]
4416 : [922, 2774, 3965, 2955, 4529, 4714, 5783, 1596, 3929, 2749]
7258 : [3965, 2790, 4680, 3621, 1321, 4106, 5228, 4170, 3594, 5289]
55107 : [3661, 297, 323, 464, 4086, 4468, 4314, 5079, 6086, 5273]
9100 : [5945, 2368, 1300, 1754, 3715, 2269, 5096, 2465, 254, 2843]
9124 : [2323, 5351, 4465, 1303, 2137, 3382, 6212, 1887, 1114, 1051]
8583 : [1274, 3575, 5065, 5686, 3865, 1269, 1835, 4641, 4845, 1127]
2934 : [2658, 3696, 2716, 3389, 2303, 2211, 5211, 223, 4012, 2293]
10212 : [1853, 4364, 4798, 4989, 2530, 2982, 1158, 2860, 1313, 1956]
9519 : [2843, 5261, 3029, 5826, 5094, 5945, 1685, 2487, 2368, 648]
5495 : [100, 3235, 3103, 6172, 3635, 1426, 3887, 4624, 1802, 4147]
33 : [5859, 5653, 4878, 5359, 2542, 1278, 938, 597, 3899, 4973]
725 : [189, 6026, 3596, 2269, 5683, 537, 6234, 2514, 1826, 1318]
4401 : [2295, 3998, 679, 1570, 826, 5279, 4799, 3913, 891, 1228]
2220 : [1031, 1549, 4131, 650, 4691, 5493, 4777, 5414, 426, 5606]
57377 : [6076, 2268, 5339, 3683, 2335, 2658, 6119, 6092, 2310, 6251]
609 : [3828, 2945, 5265, 415, 3126, 5933, 2787, 4259, 653, 6006]
219 : [531, 3684, 5672, 5706, 614, 6026, 419, 324, 597, 33]
89784 : [463, 2799, 1831, 1298, 2918, 3913, 2295, 5837, 1570, 679]
59544 : [3558, 864, 5453, 3103, 3574, 2577, 1257, 4246, 1376, 5367]
1522 : [2287, 2315, 3288, 4076, 2764, 4767, 1382, 101, 1123, 1791]
37993 : [2071, 3574, 172, 5527, 5480, 1888, 5385, 676, 2413, 3399]
2284 : [1127, 3652, 1844, 2508, 3575, 4358, 5065, 1449, 1490, 3630]
31039 : [2203, 2547, 4832, 2035, 2737, 4992, 1367, 3032, 1874, 1645]
5942 : [6212, 3871, 5688, 3592, 1091, 6197, 4304, 4192, 5025, 1486]
6075 : [6152, 6030, 5804, 4938, 5017, 2441, 2874, 2941, 504, 2431]
80035 : [47, 4218, 6165, 178, 2816, 4624, 2369, 5364, 382, 1503]
4948 : [2130, 578, 3376, 4965, 3419, 6131, 1344, 657, 5911, 5686]
37969 : [542, 1289, 3661, 5132, 6178, 5691, 3081, 154, 2921, 2097]
8624 : [6016, 2089, 3412, 369, 2934, 585, 1894, 3432, 4380, 2597]
4647 : [3704, 2427, 2830, 2009, 3235, 5364, 2844, 2763, 2721, 4862]
7953 : [522, 5224, 1400, 3701, 2669, 4521, 5020, 3600, 6238, 5405]
8057 : [4684, 2712, 2137, 5241, 2007, 6119, 4845, 3218, 4930, 4025]
55272 : [3091, 1635, 1931, 650, 3934, 6100, 4976, 57, 3784, 4216]
13169 : [2920, 3895, 2403, 4580, 3658, 547, 992, 3887, 4932, 3499]
44488 : [4297, 5228, 2447, 3818, 2075, 1589, 2314, 1749, 1596, 6242]
670 : [4173, 1332, 4290, 4824, 6233, 1566, 2257, 43, 6167, 3820]
11442 : [5003, 2712, 3807, 3596, 2335, 2883, 3678, 1091, 1464, 4109]
90825 : [2378, 990, 2118, 2695, 6192, 1515, 5643, 1641, 6003, 3624]
4544 : [4073, 4176, 893, 4348, 2275, 3383, 4051, 1862, 5702, 2265]
29426 : [4951, 3622, 5818, 670, 263, 419, 5641, 2431, 1880, 1949]
1179 : [220, 6149, 1838, 2431, 1612, 4600, 1254, 5571, 2375, 5096]
1637 : [5335, 927, 1274, 358, 3807, 4473, 1138, 5148, 4477, 1049]
192533 : [4649, 5825, 4862, 2840, 4550, 333, 4562, 2014, 5087, 1739]

In [64]:
with open("recommendations.txt", 'w') as f:
    for key, value in results.items():
        f.write('%s:%s\n' % (key, value))